<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Santa-letter</title>
    </head>
    <body>
        <h1 align ="center"> Santa letter</h1>
        <hr>
        <div class="wrapper">
            <header>
                
                <nav>
                    <ul>
                        <li><a href="#">Mój prezent</a></li>
                        <li><a href="#">znajomi</a></li>
                    </ul>

                </nav>
            </header>
        </div>
        <script>
        
        </script>
    </body>
</html>